:root {
  --box-bg-color: #f9f9f9;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --button-bg-color: #007bff;
  --button-bg-hover: #0056b3;
  --button-padding: 10px 20px;
  --button-font-size: 16px;
  --button-radius: 5px;
  --button-margin-bottom: 12px;
  /* Margen sobre el borde inferior */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */

/* Estilo general para el contenedor principal */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7fafc;
  /* bg-gray-100 */
  padding-bottom: 50px;
  padding-top: 50px;
}

/* Estilo para la tarjeta que contiene todo el contenido */
.card {
  width: 80%;
  background-color: #f7fafc;
  /* bg-gray-100 */
  border-radius: 8px;
  padding: 1.5rem;
}

/* Estilo para la cuadrícula */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Estilo para las cajas dentro de la cuadrícula */
.box {
  background-color: white;
  /* bg-gray-200 */
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Espacio entre los elementos */
  align-items: center;
}

/* Estilo para el contenedor del mapa */
.map-container {
  width: 100%;
  height: auto;
  /* h-96 */
  background-color: #edf2f7;
  /* bg-gray-200 */
  border-radius: 8px;

  position: relative;
}

/* Estilo para el botón de redirección */
.button {
  margin-top: auto;
  /* Empuja el botón hacia la parte inferior */
  margin-bottom: var(--button-margin-bottom);
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  color: white;
  text-decoration: none;
  border-radius: var(--button-radius);
  font-size: var(--button-font-size);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2563eb;
  /* hover:bg-blue-600 */
}

.map-description {
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  color: #555; /* Color gris oscuro para el texto */
  text-align: center; /* Centrar el texto */
  margin-top: 1rem; /* Espaciado superior */
  font-weight: 300; /* Fuente ligera */
  line-height: 1.5; /* Interlineado para mayor legibilidad */
  padding: 0.5rem; /* Un pequeño padding para dar espacio alrededor */
  border-radius: 5px; /* Bordes redondeados */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 80%; /* Asegurarse de que no ocupe todo el ancho */
  margin-left: auto; /* Centrar el párrafo */
  margin-right: auto; /* Centrar el párrafo */
}


/* Título del mapa */
.map-title {
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 20px;
  /* Tamaño del texto */
  font-weight: bold;
  color: #333;
  /* Color del texto */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo semitransparente para legibilidad */
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999;
  /* Asegura que el título esté por encima del mapa */
}

 

/* Responsive Styles */
@media (max-width: 1024px) {
  .card {
    width: 90%;
  }

  .grid {
    grid-template-columns: 1fr;
    /* Una sola columna para pantallas más pequeñas */
  }

  .map-title {
    font-size: 18px;
    /* Reduce el tamaño del texto en pantallas más pequeñas */
    top: 10px;
    left: 80px;
  }

  .box {
    height: 400px;
    /* Ajusta la altura de las cajas para pantallas más pequeñas */
  }

  .map-container {
    height: 250px;
    /* Ajusta la altura del mapa */
  }
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }

  .map-title {
    font-size: 16px;
    top: 5px;
    left: 60px;
  }

  .box {
    height: 500px;
    /* Ajusta aún más las cajas para pantallas pequeñas */
  }


  .map-container {
    height: 600px;
    /* Ajusta la altura del mapa */
    overflow: hidden;
  }

  .button {
    font-size: 14px;
    /* Reduce el tamaño del texto del botón */
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 0.5rem;
  }

  .map-title {
    font-size: 14px;
    /* Reduce aún más el tamaño del texto en pantallas muy pequeñas */
    top: 5px;
    left: 5%;
  }

  .box {
    height: 350px;
    /* Ajusta la altura de las cajas */
  }


  .map-container {
    height: 400px;
    /* Ajusta la altura del mapa */
    overflow: hidden;
  }

  .button {
    font-size: 12px;
    /* Reduce aún más el tamaño del texto del botón */
    padding: 6px 12px;
  }
}

@import "tailwindcss";
